.why_choose_us {
  width: 100%;
  background-color: var(--theme-palette-color-6);
  display: flex;
  align-items: center;
  padding: 32px;

  .section {
    width: 100%;
    max-width: 1280px;
    margin: auto !important;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      gap: 8px;

      .label {
        font-size: 16px;
        color: var(--theme-palette-color-2);
        font-weight: 500;
      }

      .title {
        font-size: 32px;
        font-weight: 700;
      }
    }

    .container {
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: 32px;
      justify-content: space-between;

      .column {
        max-width: 340px;

        .title {
          font-size: 24px;
          font-weight: bold;
          color: var(--theme-palette-color-5);
        }

        .description {
          margin-top: 24px;
          font-size: 16px;
          color: var(--theme-palette-color-4);
        }
      }

      img {
        height: 100%;
        width: 500px;
      }

      .double {
        min-height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        max-width: 280px;
      }
    }

    @media screen and (max-width: 1023px) {
      padding: 0 32px;
      margin-top: 50px;
      .container {
        flex-direction: column;
        text-align: center;

        .double {
          text-align: center;
          max-width: 70%;
          min-height: min-content;
          gap: 32px;
        }

        .column {
          width: 100%;
          max-width: none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .container {
        width: 100%;
        flex-direction: column;
        text-align: center;

        img {
          width: 100%;
        }

        .double{
           max-width: none;
        }
      }
    }
  }
}
