.service {
  width: 100%;
  background-color: var(--theme-palette-color-6);
  display: flex;
  align-items: center;
  overflow: visible;

  .section {
    width: 100%;
    max-width: 1280px;
    margin: auto !important;
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 32px;

    .information {
      width: 400px;
      height: auto;
      background-color: var(--theme-palette-color-3);
      border-radius: 8px;
      padding: 90px 50px;
      margin: 32px 0px;
      letter-spacing: 2px;

      .title {
        font-size: 30px;
        font-weight: 700;
        line-height: 48px;
      }

      .description {
        margin-top: 50px;
        font-size: 20px;
      }
    }

    .service_list {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 100% !important;

      .service_item {
        display: flex;
        gap: 24px;
        padding: 24px 0px;

        .service_icon {
          color: var(--theme-palette-color-1);
          font-size: 72px;
        }

        .service_text {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .service_title {
            font-size: 20px;
            font-weight: 600;
            margin: 0 !important;
            color: var(--theme-palette-color-5);
          }

          .service_description {
            font-size: 16px;
            margin-top: 4px;
            color: var(--theme-palette-color-4);
          }
        }

        &:nth-child(2n - 2) {
          position: relative;
          top: 40px;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      // padding: 24px;
      flex-direction: column;
      margin-top: 32px;

      .information {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: normal;
        text-align: center;
        padding: 20px;
      }
    }

    @media screen and (max-width: 767px) {
      .information {
        margin: 0;
        padding: 0;

        .title {
          font-size: 25px;
          line-height: 32px;
        }

        .description {
          margin-top: 0;
          font-size: 16px;
          margin-bottom: 32px;
        }
      }

      .service_list {
        grid-template-columns: 1fr;

        .service_item {
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;

          .service_icon {
            font-size: 40px;
          }

          &:nth-child(2n - 2) {
            position: relative;
            top: 0;
          }
        }
      }
    }
  }
}
